/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
  border-radius: 50px !important;
  background: rgba( 255, 255, 255, 0.85 ) !important;
  -webkit-box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  backdrop-filter: blur( 0px ) !important;
  -webkit-backdrop-filter: blur( 0px ) !important;
  padding: 40px;
  display: flex;
}

.cc {
  border-radius: 50px !important;
  background: #ffffff;
  -webkit-box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  padding: 40px;
  display: flex;
}

.hc {
  background-image: url('./img/blurp.svg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 30px;
}


.btn {
  border-radius: 25px !important;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.9em 1.6em 0.9em 1.6em !important;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(77,54,208,1) 0%, rgba(132,116,254,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

